* {
  border: none;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
  min-height: 15px;
}

window#waybar {
  background: transparent;
  color: #d8dee9;
}

#custom-logo {
  color: #e5e9f0;
}

.modules-right {
  background: #2e3440;
  padding: 0 10px;
  margin: 4px;
  margin-bottom: 0;
  border: 1px solid #434c5e;
  border-radius: 10px;
}

.modules-center {
  background-color: #2e3440;
  padding: 0 10px;
  margin: 4px;
  margin-bottom: 0;
  border: 1px solid #434c5e;
  border-radius: 10px;
}

.modules-left {
  background: #2e3440;
  padding: 0 10px;
  margin: 4px;
  margin-bottom: 0;
  border: 1px solid #434c5e;
  border-radius: 10px;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#clock {
  padding: 0 5px;
}

#pulseaudio {
  padding-top: 6px;
}

#workspaces button {
  margin: 0px 10px;
  color: #a6a69c;
}

#workspaces button.visible {
  color: white;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
  color: white;
}

#workspaces button.urgent {
  color: #bf616a;
}

#temperature.critical,
#pulseaudio.muted {
  padding-top: 3px;
  color: #bf616a;
}

#clock {
  color: #81a1c1;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #a6a69c;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #88c0d0;
}

#battery.charging {
  color: #a3be8c;
  background-color: transparent;
}

#battery.warning:not(.charging) {
  background-color: transparent;
  color: #ebcb8b;
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #bf616a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
