@define-color cc-bg #1f1f28;
@define-color noti-border-color #1f1f28;
@define-color noti-bg #1f1f28;
@define-color noti-bg-darker #1f1f28;
@define-color noti-bg-hover #16161d;
@define-color noti-bg-focus #16161d;
@define-color text-color #dcd7ba;
@define-color text-color-disabled #c8c093;
@define-color bg-selected #2d4f67;

* {
  font-family: JetBrainsMono NFP;
  font-weight: bold;
  font-size: 14px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @noti-bg-darker;
}

.notification-row {
  outline: none;
  margin: 20px;
  padding: 0;
}

.notification {
  background: transparent;
  margin: 0px;
}

.notification-content {
  background: @cc-bg;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid #c8c093;
  margin: 0;
}

.close-button {
  background: #7e9cd8;
  color: @cc-bg;
  text-shadow: none;
  padding: 0;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: #7fb4ca;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  color: #dcd7ba;
  border: 2px solid #c8c093;
  border-top: none;
  border-radius: 10px;
  background: #16161d;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #dcd7ba;
  background: #16161d;
}

.summary {
  padding-top: 7px;
  font-size: 13px;
  color: #dcd7ba;
}

.time {
  font-size: 11px;
  color: #7e9cd8;
  margin-right: 24px;
}

.body {
  font-size: 12px;
  color: #dcd7ba;
}

.control-center {
  background: @cc-bg;
  border: 2px solid #c8c093;
  border-radius: 10px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.1);
}

.widget-title {
  color: #c8c093;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}

.widget-title > button {
  font-size: 1rem;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  box-shadow: none;
  border-radius: 15px;
}

.widget-title > button:hover {
  background: #7e9cd8;
  color: @cc-bg;
}

.widget-dnd {
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px 10px 10px;
  border-radius: 15px;
  font-size: large;
  color: #f2e5bc;
}

.widget-dnd > switch {
  border-radius: 15px;
  background: #16161d;
}

.widget-dnd > switch:checked {
  background: #7e9cd8;
  border: 1px solid #7e9cd8;
}

.widget-dnd > switch slider {
  background: @cc-bg;
  border-radius: 15px;
}

.widget-dnd > switch:checked slider {
  background: @cc-bg;
  border-radius: 15px;
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @text-color;
}

.widget-mpris {
  color: @text-color;
  background: @noti-bg-darker;
  padding: 5px 10px 0px 0px;
  margin: 5px 10px 5px 10px;
  border-radius: 10px;
}

.widget-mpris > box > button {
  border-radius: 15px;
}

.widget-mpris-player {
  padding: 5px 10px;
  margin: 10px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 5px;
  margin: 5px 10px 10px 10px;
  border-radius: 15px;
  background: @noti-bg-darker;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 3px;
  background: @cc-bg;
  border-radius: 15px;
  color: @text-color;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: #7e9cd8;
  color: @cc-bg;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}
